.image-bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/bottle.webp");
    height: calc(100vh - 64px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    text-transform: unset !important;
    text-align: center;
}

.image-bg h1 {
    background-attachment: fixed;
    color: white;
    text-transform: unset !important;
}

.image-bg:nth-child(2) {
    background-attachment: fixed;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/img2.jpg");
}

.image-bg:nth-child(3) {
    background-attachment: fixed;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/img3.jpg");
}

body {
    background-color: #212529 !important;
}

.nav_main{
    height: 4rem;
}
.nav_menu{
    padding-left: unset;
}

.pg_margin{
    margin-top: 4rem;
}

@media screen and (max-width: 786px){
    .nav_main{
        height: 4.8rem;
    }
    .nav_menu{
        padding-left: 1rem;
    }
    .pg_margin{
        margin-top: 4.8rem;
    }
}