* {
    box-sizing: border-box;
}

.image-bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/bottle.webp");
    height: calc(100vh);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    text-transform: unset !important;
    text-align: center;
}

.my-card {
    background-color: #1b1f22 !important;
    border: 1px solid #fff !important;
}

.my-card input {
    background-color: #212529 !important;
    color: #fff;
    border: 1px solid #1b1f22 !important;
}

.my-card input:focus {
    border: 1px solid #fff !important;
    color: #fff;
}

.max-height {
    height: calc(100vh - 64px - 97px);
}

.image-bg {
    background-attachment: fixed;
}

.image-bg h1 {
    color: white;
    text-transform: unset !important;
}

.image-bg:nth-child(2) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/img2.jpg");
}

.image-bg:nth-child(3) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/img3.jpg");
}

body {
    background-color: #212529 !important;
}

.nav_main{
    height: 4rem;
}
.nav_menu{
    padding-left: unset;
}

.pg_margin{
    margin-top: 4rem;
}

.hoverShadow:hover{
    transition: all ease-in-out 0.3s;
    transform: scale(1.01);
    cursor:alias;
}

@media screen and (max-width: 786px){
    .nav_main{
        height: 5rem;
    }
    .nav_menu{
        padding-left: 1rem;
    }
    .pg_margin{
        margin-top: 4.8rem;
    }
}